@font-face {
	font-family: 'Minecraft Ten';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecrafTen.otf);
}

@font-face {
	font-family: 'Minecraft Seven';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecraftSeven.otf);
}

body {
    background: url(/Bioplentia/siteImg/portal.png); 
    color:white;
}

p::selection {
    color: #ffffff; 
    background: #19ad25; 
}
strong::selection {
    color: #ffffff; 
    background: #19ad25; 
}
img::selection {
    color: #00000000; 
    background: #00000000; 
}

.font200 {
    font-family: Minecraft Ten;
    font-size: 200%; 
    text-align: center;
    word-wrap: break-word;
}
.font100 {
    font-family: Minecraft Seven;
    font-size: 100%; 
    text-align: center;
    word-wrap: break-word;
}
.center {
   text-align: center; 
}

.whitePurple {
   color: #dfd7ff;
}

.bg0 {
   background: #2221219c;
}

.bg1 {
   background: #00000067;
}

.bottomLayer {
   background: #000000;
   height: 80px;  
}
.null {
   width: 10px;	height: 40px;  
}

.outline0 {
   width: 720px;	height: 400px;  
   outline: 2px solid #ffffff; 
   margin: auto;
}

.outline1 {
   width: 300px;	height: 50px; 
   outline: 2px solid #0000003d; 
   margin: auto;
}
