@font-face {
	font-family: 'Minecraft Ten';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecrafTen.otf);
}

@font-face {
	font-family: 'Minecraft Seven';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecraftSeven.otf);
}

body {
    background: url(/Bioplentia/siteImg/bg.png); 
    color:white;
}

p::selection {
    color: #f1f1f1; 
    background: #2f9c19; 
}
strong::selection {
    color: #f1f1f1; 
    background: #2f9c19; 
}
img::selection {
    color: #00000000; 
    background: #00000000; 
}

.font200 {
    font-family: Segoe UI;
    font-size: 200%; 
    text-align: center;
    word-wrap: break-word;
}
.font100 {
    font-family: Segoe UI;
    font-size: 100%; 
    text-align: center;
    word-wrap: break-word;
}
.center {
   text-align: center; 
   position: relative;
}

.fontSilver {
   color: silver;
}

.bg0 {
   background: #000000d0;
}

.bg1 {
   background: #5f41af67;
}

.bottomLayer {
   background: #100b30de;
   height: 80px;  
}
.null {
 height: 40px;  
}

.null2 {
   height: 20px;  
}

.outline0 {
   width: 720px;	height: 400px;  
   outline: 2px solid #ffffff; 
   margin: auto;
}

.outline1 {
   width: 300px;	height: 50px; 
   outline: 2px solid #eb04f3; 
   margin: auto;
}
