@font-face {
	font-family: 'Minecraft Ten';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecrafTen.otf);
}

@font-face {
	font-family: 'Minecraft Seven';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecraftSeven.otf);
}
