@font-face {
	font-family: 'Minecraft Ten';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecrafTen.otf);
}

@font-face {
	font-family: 'Minecraft Seven';
	font-weight: normal;
	src: url(/Bioplentia/siteFont/MinecraftSeven.otf);
}

body {
    background-image: url(/Bioplentia/siteImg/bg.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

details summary::before {
   content: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/menu/menu-hamburger--open.gif);
 }
 details[open] summary::before {
   content: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/menu/menu-hamburger--close.gif);
}
details summary {
   display: block;
}

details summary::-webkit-details-marker {
   display: none;
}

details summary::selection {
   color: #f1f1f1; 
   background: #2f9c19; 
}
p::selection {
    color: #f1f1f1; 
    background: #2f9c19; 
}
strong::selection {
    color: #f1f1f1; 
    background: #2f9c19; 
}
img::selection {
    color: #00000000; 
    background: #00000000; 
}

.font200MCT {
   font-family: Minecraft Ten;
   font-size: 200%; 
   word-wrap: break-word;
}
.font100MCS {
   font-family: Minecraft Seven;
   font-size: 100%; 
   word-wrap: break-word;
}
.font200 {
    font-family: Segoe UI;
    font-size: 200%; 
    word-wrap: break-word;
}
.font100 {
    font-family: Segoe UI;
    font-size: 100%; 
    word-wrap: break-word;
}
.center {
   text-align: center; 
   position: relative;
}

.left {
   text-align: left; 
   position: relative;
}

.right {
   text-align: right; 
   position: relative;
}

.fontSilver {
   color: silver;
}

.fontDarkRed {
   color: darkred;
}

.bg0 {
   background: #000000d0;
}

.bg1 {
   background: #5f41af67;
}

.bottomLayer {
   background: #100b30de;
   height: 80px;  
}
.null {
 height: 40px;  
}

.null2 {
   height: 20px;  
}

.outline0 {
   width: 57%;	height: 28%;  
   outline: 1px solid #ffffff; 
   margin: auto;
}

.outline1 {
   width: 20%;	height: 8%; 
   outline: 1px solid #eb04f3; 
   margin: auto;
}

.textFrame {
   width: 60%;
   margin: auto;
}

.imageMapping {
   margin: auto;
}
